body {
    background-color: #424242;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.popup.error {
    width: 25rem;
    height: 10rem;
    margin: 4rem auto;
    background-color: #fafafa;
    box-shadow: 2px 2px 1rem #212121;
    border-radius: 0.25rem;
}
.popup.error .message {
    background-color: #e74c3c;
    height: 7rem;
    border-radius: 0.25rem 0.25rem 0 0;
    overflow: hidden;
    position: relative;
    font-size: 0.9rem;
}
.popup.error .message:before {
    content: "\f057";
    font-family: FontAwesome;
    position: absolute;
    color: #fafafa;
    font-size: 10rem;
    opacity: 0.3;
    top: -2.5rem;
    right: -0.5rem;
}
.popup.error .message p {
    padding: 0.5rem;
    color: #fafafa;
}
.popup.error .action {
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    position: relative;
}
.popup.error .action button {
    position: absolute;
    right: 1rem;
    top: 0.8rem;
    outline: none;
    border: 0;
    background-color: #e74c3c;
    width: 5rem;
    height: 1.5rem;
    color: #fafafa;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    border-radius: 0.25rem;
}
.popup.error .action button:active {
    background-color: #c0392b;
}
