* {
    font-family: 'instagram sans-reflects', sans-serif;
}

.Switch {
    display: flex;
    align-items : flex-start;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
}

.Switch_button {
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.Switch_button:hover {
    cursor: pointer;
    color: #FEDA75;
}

.Switch_button:active {
    background-color: rgb(28, 28, 33);
    color: #FEDA75;
}

.Friend-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    font-size: 15px;
}

.friend{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
    height: 60px;
    gap: 30px;
}

.friend_avatar > img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.Accept_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100%;
    margin-top: 15px;
    cursor: pointer;
}
