@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.menu {
    font-family: 'instagram', sans-serif;
    width: 26vw;
    height: 100vh;
    position: fixed;
    border-right: solid 1px #6A6B70;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.site-title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}
#site-title{
    font-size: 30px;
    font-weight: bold;
    color: #F5F5F5;
}
.search-box{
    width: 85%;
    position: relative;
    display: flex;
}
.search-input{
    width: 100%;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    font-size: 15px;
    color: #FEDA75;
    background: #393A41;
}
.search-button{
    text-align: center;
    width: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    border: none;
    background: #393A41;
    font-size: 15px;
    color: #6A6B70;
}
.categories {
    margin-top: -25%;
    width: 90%;
    font-size: 20px;
}
.categories ul {
    list-style-type: none;
    padding: 0;
}
li.category {
    padding: 0;
    margin: 25px 0;
    cursor: pointer;
    transition: color 0.2s ease;
    width: 80%;
}
li.category logout {
    transition: color 0.2s ease;
}
li.category logout:hover {
    color: #D62976;
}
li.category:hover {
    color: #D62976;
}
.list-icon {
    padding-right: 20px;
}
.redirect-menu {
    text-decoration: none;
    color: #F5F5F5;
}
.redirect-menu:hover {
    color: #D62976;
}
