@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.menu {
    width: 26vw;
    position: fixed;
    border-right: solid 1px var(--gray);
    font-size: var(--size-medium);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 140px;
    padding-top: 20px;
    height: 100%;
}

.site-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

#site-title {
    font-size: 30px;
    font-weight: bold;
    color: #F5F5F5;
}

img#logo {
    object-fit: contain;
    width: 90%;
}

.categories {
    width: 90%;
    font-size: 20px;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

li.category {
    padding: 0;
    margin: 40px 0;
    cursor: pointer;
    width: 80%;
}

li.category a:hover {
    color: var(--pink);
}

.list-icon {
    padding-right: 20px;
}

.redirect-menu {
    text-decoration: none;
    color: #F5F5F5;
}

.redirect-menu:hover {
    color: var(--pink);
}

.category a {
    transition: color 0.2s ease;
    text-decoration: none;
    color: #F5F5F5;
}
