@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.post-panel {
    font-family: 'Playfair Display', serif;
    left: 26vw;
    width: 47.3vw;
    height: 100vh;
    position: fixed;
    border-left: solid 1px #6A6B70;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

.post-panel::-webkit-scrollbar {
    width: 0.5em;
}

.post-panel::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

.post-panel::-webkit-scrollbar-thumb {
    background-color: #4b70e2;
    outline: 1px solid #3c3f41;
    border-radius: 5%;
}

.post-header {
    padding-top: 5px;
}

.write-post {
    width: 99%;
    height: 20vh;
    border-bottom: solid 1px #6A6B70;
}

.header-post {
    margin-left: 1vw;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.feelings {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.feelings select {
    margin-left: 0.5vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    background-color: rgba(35, 34, 34, 0.26);
    color: white;
    font-size: 0.8em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.footer-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.post-panel .post-header {
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
}

img.avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

img.insert-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.input-post {
    margin-left: 2vw;
    width: 21vw;
    height: 10vh;
    border: none;
    outline: none;
    font-size: 15px;
    color: #ffffff;
    background: rgb(22, 22, 22);
    resize: none;
    overflow-y: hidden;
}

.post-button {
    text-align: center;
    width: 80px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 10%;
    border: none;
    background: #4F5BD5;
    font-size: 15px;
    color: #F5F5F5;
}

.post-button:hover {
    background: #D62976;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    padding: 10px 0;
    border-bottom: solid 1px #6A6B70;
}


.post-header {
    display: flex;
    align-items: flex-start;
}

.content-post {
    display: flex;
    flex-direction: column;
}

.react {
    display: flex;
    align-items: center;
    padding: 10vm;
    width: 100%;
    justify-content: space-evenly;
}

.react span {
    margin-left: 0.5vw;
    font-size: 15px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
}

.react span:hover {
    cursor: pointer;
}

.react span p {
    font-size: 10px;
    margin-top: 12px;
    padding-left: 5px;
}

f1 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px
}

.img-box img {
    background-color: rgb(128, 125, 125);
}

.date {
    font-size: 25vm;
    color: #4b70e2;
    margin: 10px;
}

.pseudo {
    font-size: 25vm;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.pseudo:hover {
    cursor: pointer;
}

.content {
    max-width: 35vw;
    word-wrap: break-word;
    margin : 10px;
}

p {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.delete-post {
    display: flex;
    align-items: center;
    justify-content: center;


}

.delete-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #4b70e2;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.delete-button:hover {
    color: #D62976;
}


