@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.post-panel {
    font-family: 'Playfair Display', serif;
    left : 26vw;
    width : 47.3vw;
    height : 100vh;
    position : fixed;
    border-left: solid 1px #6A6B70;
}
.post-header{
    padding-top: 5px;
}
.write-post{
    width: 99%;
    height: 20vh;
    border-bottom: solid 1px #6A6B70;
}
.header-post{
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.feelings{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.feelings select{
    margin-left:0.5vw;
    height: 4vh;
    border: none;
    border-radius: 5px;
    background-color:rgba(35, 34, 34, 0.26);
    color: white;
    font-size: 0.8em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}
.footer-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.post-panel .post-header {
    height : 5vh;
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 0 5vw;
    font-size: 15px;
    border-bottom : solid 1px #6A6B70;

}
img.avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    padding : 10px;
    cursor: pointer;
}
img.insert-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.input-post{
    width: 25vw;
    height: 10vh;
    border: none;
    outline: none;
    font-size: 15px;
    color: #ffffff;
    background: rgba(35, 34, 34, 0.26);
    resize: none;
    overflow-y: hidden;
}
.post-button{
    text-align: center;
    width:80px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 10%;
    border: none;
    background: #4F5BD5;
    font-size: 15px;
    color: #F5F5F5;
}
.post-button:hover{
    background: #D62976;
}
.container{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.post{
    height: 30vh;
    border-bottom: solid 1px #6A6B70;
}
.content-post{
    max-width: 45vw;
    height: 22vh;
    max-height: 22vh;
    overflow: hidden;
}
.react{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 3vh;
}
.react span {
    display: flex;
    align-items: center;
    height: 20px;
}
.react span:hover {
    cursor: pointer;
}
.react span p{
    font-size: 20px;
    margin-top: 12px;
    padding-left: 5px;
}

f1 {
    font-size: 20px;
    color: #ffffff;
    margin-left: 10px
}
.img-box img{
    background-color: rgb(128, 125, 125);
}