.right-panel {
    width: 27vw;
    height: 100vh;
    position: fixed;
    top: 0;
    border-left: solid 1px var(--gray);
    right: 0;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
    background-color: #161616;
}

/*test commentaire css*/
.main-comment {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px var(--gray);
    padding: 15px;
    font-size: var(--size-medium);
}

img.avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

.comment-box {
    margin-left: 15px;
}

.pseudo-box {
    font-weight: bold;
    margin-bottom: 15px;
}

.comment-text-box {
    margin-bottom: 20px;
}

.stats-box {
    font-size: var(--size-medium);
}

.stats-box > span {
    margin-right: 5px;
    color: var(--gray);
    transition: color 0.2s ease;
}

.up-vote:hover {
    color: #FEDA75;
    cursor: pointer;
}

.down-vote:hover {
    color: var(--pink);
    cursor: pointer;
}