.right-panel {
    font-family: Arial, serif;
    width: 27vw;
    height: 100vh;
    position: fixed;
    border-left: solid 1px #6A6B70;
    right: 0;
    display: flex;
    flex-direction: column;
    color: #F5F5F5;
}

/*test commentaire css*/
.main-comment {
    display: flex;
    align-items: flex-start;
    border-bottom: solid 1px #6A6B70;
    padding: 15px;
    font-size: 15px;
}
img.avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.comment-box {
    margin-left: 15px;
}
.pseudo-box {
    font-weight: bold;
    margin-bottom: 15px;
}
.comment-text-box {
    margin-bottom: 20px;
}
.stats-box {
    font-size: 16px;
}
.stats-box > span {
    margin-right: 5px;
    color: #6A6B70;
    transition: color 0.2s ease;
}
.up-vote:hover {
    color: #FEDA75;
    cursor: pointer;
}
.down-vote:hover {
    color: #D62976;
    cursor: pointer;
}